<footer class="footer-app-mark">
  <div class="container-fluid bg-secondary my-4">

    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
      <div class="row border-top pt-3">
        <div class="col-lg-6 text-center">
          <ul class="list-inline">
            <li class="list-inline-item mr-2">
              <a href="#" class="text-light"> Naveen</a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#" class="text-light"> About</a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#" class="text-light"> Support</a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#" class="text-light"> Blog</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-6 text-center">
          <p>&copy;2020 made with <i class="fas fa-heart"></i>by <span class="text-white text-font-bold">Naveen</span>
          </p>
        </div>
      </div>



    </div>
  </div>
</footer>
