<div class="p-3 mb-3 sub-app-mark">
  <h3>This section is from another app</h3>
  <p class="text-secondary font-weight-light my-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iusto magni eaque nemo obcaecati, quaerat
    debitis esse quod nulla quo quae dicta similique expedita exercitationem nisi iste consectetur labore
    assumenda fugit eligendi. Aliquam quisquam laborum repudiandae, rem ducimus ut quae aspernatur numquam
    debitis esse quod nulla quo quae dicta similique expedita exercitationem nisi iste consectetur labore
    assumenda fugit eligendi. Aliquam quisquam laborum repudiandae, rem ducimus ut quae aspernatur numquam
    repellat suscipit facere impedit iure
    i. Aliquam quisquam laborum repudiandae, rem ducimus ut quae
    aspernatur numquam
    repellat suscipit facere impedit iurem earum! Eius, odit amet.
    <button class="bt btn-info" (click)="ce_changeHead()"> click here to talk to main app (mf to mf
      communication)</button>
  </p>


  <div class="d-flex mb-2 align-items-center">
    <h5 class="text-muted"> Message from shell</h5>
    <span class="mx-3 text-font-bold pb-2" style="color:  rgb(150, 206, 61);;font-size: 20px;">{{shellMessage}}</span>
  </div>
</div>
