<!-- header app goes here -->
<section class="header-mark">
  <div class="container-fluid">
    <header-app [shellMessage]="userMessage"></header-app>
  </div>


</section>
<!-- header app goes here -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-12">
        <!-- main app goes here -->
        <main-app [shellMessage]="userMessage"></main-app>

        <!-- main app goes here -->
        <!-- sub  app goes here -->
        <sub-app [shellMessage]="userMessage"></sub-app>


        <!-- sub app goes here -->
      </div>
      <div class="col-md-4 col-12">
        <!-- side  app goes here -->

        <side-app [shellMessage]="userMessage"></side-app>






        <!-- side app goes here -->
      </div>
    </div>
  </div>
</section>



<!-- footer  app goes here -->

<section class="shell-mark mx-3">
  <div class="my-4 d-flex py-4">
    <h4 class="mx-3">Shell to App's Communication</h4>



    <button class="btn btn-primary" (click)="onClick()">send random number to hosted app's</button>

  </div>
</section>

<div class="content my-3 py-3">

  <router-outlet></router-outlet>

</div>
<div class="container-fluid ">
  <footer-app></footer-app>
</div>



<!-- footer app goes here -->
