<div class="p-4 side-app-mark">


  <h3>News Details</h3>
  <div>
    <h5 class="mt-2 mb-0">Viva Atlanta</h5>
    <i><b>Published date:</b>January 1st, 2020</i>
    <p class="font-italic"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, tempore delectus!
      Corrupti quos aperiam repellat laborum aspernatur quasi ad consectetur quisquam tempora, magnam, ipsa quo
      perferendis laboriosam cum est illum facere quis. Nisi magni ad, ullam eius ut, consequatur incidunt quae
      explicabo iure nobis libero. Magni, sed? Sequi esse voluptas maxime cumque enim! Dolores reiciendis expedita
      aliquam fuga a ut laboriosam dolore, vel vitae error distinctio minus in impedit. Optio nulla eaque esse, velit
      quaerat voluptatem totam quod id fugit deserunt magnam laboriosam cumque porro! Autem inventore animi expedita
      cum, accusamus quas adipisci aut enim rerum similique, quaerat, soluta minus.</p>
    <hr>
  </div>

  <a href="#" routerLink="/sideApp/home" class="active">Back</a>
</div>
