<div class="card mx-2 mb-2">
  <div class="card-header">
    <button class="btn btn-block bg-warning text-dark text-left" data-toggle="collapse" data-target="#collpseOne">
      <!-- <img class="mr-3 rounded" src="images/cust1.jpeg" alt="" width="50px"> -->
      I'm internal custom element loaded lazily
    </button>
  </div>
  <div class="collapse show" id="collpseOne" data-parent="#accordian">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, suscipit.

    </div>
  </div>
</div>
