<section class="dynamic-mark mx-3">
  <div class="container-fluid">


    <div class="row align-item-center mb-5 mt-2">
      <h2 class="text-muted mb-4 mx-3">Advanced OnDemand Custom Elements Loading</h2>
      <div class="row align-items-start mb-3">
        <div class="col-md-2">
          <button class="btn btn-warning" (click)="onLazy()">
            Click to load custom element lazily by angular
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary" (click)="onDynamic()">
            Click to load external custom element
          </button>
        </div>


      </div>

      <div id="accordian">
        <div class="row" id="content">


        </div>
      </div>


    </div>

  </div>




</section>
